@import "../../../assets/variables.scss";


.header {
  background-color: $header-bg;
  padding         : 10px;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  font-size       : 17px;

  &__logo {
    flex: 3;
  }

  &__list {
    display        : flex;
    justify-content: space-around;
    flex           : 1;
    align-items    : center;

    &--items {
      align-items: center;

      &-link {
        display        : inline-block;
        text-decoration: none;
        color          : #000;
        text-transform : uppercase;
      }

      &:nth-child(2):after {
        content         : " ";
        position        : relative;
        display         : inline-flex;
        background-color: #000;
        top             : 5px;
        margin-left     : 35px;
        height          : 19px;
        width           : 2px;
      }

      &:nth-child(2):before {
        content         : " ";
        position        : relative;
        display         : inline-flex;
        background-color: #000;
        top             : 5px;
        margin-right    : 35px;
        height          : 19px;
        width           : 2px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    font-size: 15px;

    &__list {
      &--items {
        &:nth-child(2){
          position: relative;
          top: -2px;
        }
        &:nth-child(2):after {
          top        : 2px;
          margin-left: 25px;

        }
        &:nth-child(2):before {
          top         : 2px;
          margin-right: 25px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .header {
    &__logo {
      flex: 2;
    }

    &__list {
      flex: 1;

      &--items {
        &-link {
          font-size: 15px;
        }

        &:nth-child(2):after {
          margin-left: 20px;
          top        : 3px;
        }

        &:nth-child(2):before {
          margin-right: 20px;
          top         : 3px;
        }
      }
    }
  }
}
